<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <a routerLink="/">Home</a>
            <a [routerLink]="['user', 1]">User 1
                <span *ngIf="user1Activated"
                      class="alert alert-success">{{ user1Activated ? 'activated' : false }}</span></a>
            <a [routerLink]="['user', 2]">User 2
            <span *ngIf="user2Activated"
                  class="alert alert-success">{{ user2Activated ? 'activated' : false }}</span></a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
